---
import globalStyles from '../css/global.css?url';

import Navbar from "../components/General/navbar.astro";
import Footer from '../components/General/footer.astro';

const currentRoute = Astro.url.pathname;
const {title, description} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
		<meta name="generator" content={Astro.generator}/>

		<slot name="preload"/>
		<link rel="preload" href="/fonts/raleway.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
		<link rel="preload" href="/fonts/roboto.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
		<link rel="preload" href={globalStyles} as="style"/>
		<link rel="stylesheet" href={globalStyles}/>
		
		<title>{title}</title>
		<meta name="description" content={description}/>
	</head>
	<body>
		<header>
			<Navbar path={currentRoute}/>
		</header>
		<main>
			<slot/>
		</main>
		<footer>
			<Footer/>
		</footer>
	</body>
</html>
