---
import '../../../css/home-page/utilities/team-card.css';

const {name, occupation, socialIcons, socialLinks, photos, id} = Astro.props;
---

<div id={id} class="team-card">
    <div class="image-wrapper">
        <picture>
            {
                photos.map((photo: any) => (
                    <source srcset={photo.src}/>
                ))
            }
            <img class="full-image" src={photos[1].src} alt=`potrait of ${name}` loading="lazy" decoding="async"/>
        </picture>
    </div>
    <div class="name-plate">
        <span class="name">{name}</span>
        <br>
        <span class="occuptaion">{occupation}</span>
    </div>
    <div id="social-links-container">
        {
            socialIcons.map((icon: any, idx: number) => (
                <a id=`icon-${idx}` class="icon-wrapper" href={socialLinks[idx]}>
                    <img src={icon.src} alt="" loading="lazy" decoding="async"/>
                </a>
            ))
        }
    </div>
</div>