---
import '../../css/general/navbar.css';
import { ImportAvif, ImportWebP, ImportPng, ImportJpg} from '../../_Scripts/build-scripts/ImageImporter';

import FacebookLogo from '../../assets/images/social-media-logos/FacebookLogo.png'
import YoutubeLogo from '../../assets/images/social-media-logos/YoutubeLogo.png';
import InstagramLogo from '../../assets/images/social-media-logos/InstagramLogo.png';

import Logo from '../../assets/images/misc/BoindyLogo.jpg';
import LeafHighlight from '../../assets/images/misc/LeafPageHighlight.jpg';

const AvifFacebookLogo = await ImportAvif(FacebookLogo, FacebookLogo.width / 5, "low");
const WebpFacebookLogo = await ImportWebP(FacebookLogo, FacebookLogo.width / 5, "low");
const PngFacebookLogo = await ImportPng(FacebookLogo, FacebookLogo.width / 10, "low");

const AvifYoutubeLogo = await ImportAvif(YoutubeLogo, YoutubeLogo.width / 5, "low");
const WebpYoutubeLogo = await ImportWebP(YoutubeLogo, YoutubeLogo.width / 5, "low");
const PngYoutubeLogo = await ImportPng(YoutubeLogo, YoutubeLogo.width / 10, "low");

const AvifInstagramLogo = await ImportAvif(InstagramLogo, InstagramLogo.width / 6, "low");
const WebpInstagramLogo = await ImportWebP(InstagramLogo, InstagramLogo.width / 6, "low");
const PngInstagramLogo = await ImportPng(InstagramLogo, InstagramLogo.width / 10, "low");

const AvifLogo = await ImportAvif(Logo, Logo.width, "medium");
const WebpLogo = await ImportWebP(Logo, Logo.width, "medium");
const PngLogo = await ImportJpg(Logo, Logo.width, "medium");

const AvifLeafHighlight = await ImportAvif(LeafHighlight, LeafHighlight.width / 2, "medium");
const WebpLeafHighlight = await ImportWebP(LeafHighlight, LeafHighlight.width / 2, "medium");
const PngLeafHighlight = await ImportJpg(LeafHighlight, LeafHighlight.width / 2, "medium");

const facebookLogoSources = [AvifFacebookLogo, WebpFacebookLogo, PngFacebookLogo];
const youtubeLogoSources = [AvifYoutubeLogo, WebpYoutubeLogo, PngYoutubeLogo];
const instagramLogoSources = [AvifInstagramLogo, WebpInstagramLogo, PngInstagramLogo];
const LogoSources = [AvifLogo, WebpLogo, PngLogo];
const LeafSources = [AvifLeafHighlight, WebpLeafHighlight, PngLeafHighlight];

const {path} = Astro.props;
console.log(path);
---

<script src="/Scripts/NavBar.js" defer></script>

<!-- lazy loading all images because the hero image is resource intensive -->
<!-- so just doing everything possible to allocate as many resources as possible to it -->
<div id="nav-bar">
    <div id="top-resource-bar" class="flex">
        <address class="flex contact-wrapper">
            <div class="flex contact-data">
                <div class="icon-wrapper">
                    <img class="full-image" src="/icons/google-icons/MailIcon.svg" alt="" decoding="async" loading="lazy" fetch-priority="low"/>
                </div>
                <small class="data-text">example123@email.com</small>
            </div>
            <div class="flex contact-data">
                <div class="icon-wrapper">
                    <img class="full-image" src="/icons/google-icons/PinDropIcon.svg" alt="" loading="lazy" decoding="async"/>
                </div>
                <small class="data-text">123 Tyler, Texas</small>
            </div>
        </address>
        <div id="time-detail" class="flex contact-data">
            <div class="icon-wrapper">
                <img class="full-image" src="/icons/google-icons/Clock.svg" alt="" loading="lazy" decoding="async" fetch-priority="low"/>
            </div>
            <small>Mon-Fri; 9am to 7pm / Sat; 10am to 4pm</small>
        </div>
        <div id="socials-container" class="flex">
            <a class="icon-wrapper social-link" href="https://www.Google.com" target="_blank" rel="nofollow">
                <picture>
                    {
                        facebookLogoSources.map((logo) => (
                            <source srcset={logo.src}/>
                        ))
                    }
                    <img class="full-image" src={facebookLogoSources[1].src} alt="visit our facebook page" loading="lazy" decoding="async" fetch-priority="low"/>
                </picture>
            </a>
            <a class="icon-wrapper social-link" href="https://www.Google.com" target="_blank" rel="nofollow">
                <picture>
                    {
                        instagramLogoSources.map((logo) => (
                            <source srcset={logo.src}/>
                        ))
                    }
                    <img class="full-image" src={facebookLogoSources[1].src} alt="take a peek at our instagram gallery" loading="lazy" decoding="async" fetch-priority="low"/>
                </picture>
            </a>
            <a class="icon-wrapper social-link" href="https://www.Google.com" target="_blank" rel="nofollow">
                <img class="full-image" src="/icons/social-media-icons/XLogo.svg" alt="scroll through our X account" loading="lazy" decoding="async" fetch-priority="low"/>
            </a>
            <a class="icon-wrapper social-link" href="https://www.Google.com" target="_blank" rel="nofollow">
                <picture>
                    {
                        youtubeLogoSources.map((logo) => (
                            <source srcset={logo.src}/>
                        ))
                    }
                    <img class="full-image" src={youtubeLogoSources[1].src} alt="check out our youtube channel" loading="lazy" decoding="async" fetch-priority="low"/>
                </picture>
            </a>
        </div>
        <div id="grass-container"/>
    </div>
    <nav id="navigation" class="flex">
        <div class="logo-container">
            <div class="logo-wrapper">
                <picture>
                    {
                        LogoSources.map((logo) => (
                            <source srcset={logo.src}/>
                        ))
                    }
                    <img id="logo" class="full-image" src={LogoSources[1].src} alt="logo leaves swirling around the company name" decoding="async" loading="lazy" fetch-priority="low"/>
                </picture>
            </div>
        </div>
        <button id="mobile-nav-button" aria-expanded="false" aria-controls="navbar-links-container" aria-label="navigation toggle">
            <span id="top-bar" class="bar" aria-hidden="true"></span>
            <span id="middle-bar" class="bar" aria-hidden="true"></span>
            <span id="bottom-bar" class="bar" aria-hidden="true"></span>
        </button>
        <ul id="navbar-links-container">
            <li class="link-wrapper">
                {
                    path == "/" && (
                        <div class="page-tick-wrapper">
                            <picture>
                                {
                                    LeafSources.map((leaf) => (
                                        <source srcset={leaf.src}/>
                                    ))
                                }
                                <img class="full-image" src={LeafSources[1].src} alt="Leaf highlight" decoding="async" loading="lazy" fetch-priority="low"/>
                            </picture>
                        </div>
                    )
                }
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="link-wrapper">
                {
                    path == "/about-us" && (
                        <div class="page-tick-wrapper">
                            <picture>
                                {
                                    LeafSources.map((leaf) => (
                                        <source srcset={leaf.src}/>
                                    ))
                                }
                                <img class="full-image" src={LeafSources[1].src} alt="Leaf highlight" decoding="async" loading="lazy" fetch-priority="low"/>
                            </picture>
                        </div>
                    )
                }
                <a href="/about-us">About Us</a>
            </li>
            <li id="drop-wrapper" class="link-wrapper">
                <div class="flex button-container">
                    <button id="service-button" class="flex nav-link drop-button" aria-controls="service-menu" aria-expanded="false" aria-haspopup="true">
                        <span>Services</span>
                        <img src="/icons/google-icons/Chevron.svg" alt="" decoding="async" loading="lazy" fetch-priority="low" width="24"/>
                    </button>
                </div>
                <ul id="service-menu" class="drop-menu" role="menu">
                    <li role="menuitem">
                        <a href="/services/mowing-and-whacking">
                            Mowing & Whacking
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="/services/hedge-trimming">
                            Hedge Trimming
                        </a>
                    </li>
                </ul>
            </li>
            <li id="next-link" class="link-wrapper">
                {
                    path == "/blog" && (
                    <div class="page-tick-wrapper">
                        <picture>
                            {
                                LeafSources.map((leaf) => (
                                    <source srcset={leaf.src}/>
                                ))
                            }
                            <img class="full-image" src={LeafSources[1].src} alt="Leaf highlight" decoding="async" loading="lazy" fetch-priority="low"/>
                        </picture>
                    </div>
                    )
                }
                <a href="/blog">Blog</a>
            </li>
            <li class="link-wrapper">
                <a href="/contact" id="contact-link" class="nav-link">
                    Contact Us
                </a>
            </li>
        </ul>
    </nav>
</div>